In [1]:
import pandas as pd

# Campylobacter spp. (all species)

In [2]:
campy = pd.read_excel('../data_files/Campylobacter_2018.xlsx', sheet_name='Campylobacter mean CoI 2018', 
                      usecols='A:L', skiprows=5).dropna(thresh=2).reset_index(drop=True)
campy['Health outcomes'] = campy['Health outcomes'].fillna(campy['Unnamed: 1']).to_frame()
campy = campy.drop(columns=['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3'])
campy = campy.drop(index=[9,6]).reset_index(drop=True)
campy['causative_agent'] = 'Campylobacter spp. (all species)'
campy

,Health outcomes,Total cases,Didn't visit physician; recovered,Visited physician; recovered,Hospitalized,Post-hospitalization recovery,Hospitalized; died,Morbidity illness with Guillan Barré syndrome,Death associated with Guillan Barré syndrome,causative_agent
0,Number of cases,8.450240e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Campylobacter spp. (all species)
1,Cases by outcome,NaN,7.909297e+05,4.563130e+04,8.463000e+03,8.387000e+03,7.600000e+01,1916.0,8.645000e+01,Campylobacter spp. (all species)
2,Physician office visits,NaN,NaN,9.330174e+06,8.652095e+05,1.224914e+06,NaN,NaN,NaN,Campylobacter spp. (all species)
3,Emergency room visits,NaN,NaN,3.196530e+06,1.778531e+06,0.000000e+00,NaN,NaN,NaN,Campylobacter spp. (all species)
4,Outpatient clinic visits,NaN,NaN,1.102724e+07,1.363443e+06,0.000000e+00,NaN,NaN,NaN,Campylobacter spp. (all species)
5,Hospitalizations,NaN,NaN,0.000000e+00,1.473915e+08,0.000000e+00,NaN,NaN,NaN,Campylobacter spp. (all species)
6,Premature death,NaN,NaN,NaN,NaN,NaN,7.373989e+08,NaN,8.387912e+08,Campylobacter spp. (all species)
7,"Productivity loss, nonfatal cases",NaN,4.819250e+07,8.670438e+06,4.640875e+06,2.299599e+06,NaN,NaN,NaN,Campylobacter spp. (all species)
8,Total cost of illness,2.181486e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Campylobacter spp. (all species)

In [3]:
campy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 10 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Health outcomes                                9 non-null      object
 1   Total cases                                    2 non-null      float64
 2   Didn't visit physician; recovered              2 non-null      float64
 3   Visited physician; recovered                   6 non-null      float64
 4   Hospitalized                                   6 non-null      float64
 5   Post-hospitalization recovery                  6 non-null      float64
 6   Hospitalized; died                             2 non-null      float64
 7   Morbidity illness with Guillan Barré syndrome  1 non-null      float64
 8   Death associated with Guillan  Barré syndrome  2 non-null      float64
 9   causative_agent                                9 non-null      object
dtypes: float64(8), object(2)
memory usage: 848.0+ bytes

# Clostridium perfringens

In [4]:
cper = pd.read_excel('../data_files/Clostridium_2018.xlsx', sheet_name='C. perfringens mean COI 2018', 
                     usecols='A:J', skiprows=5).dropna(thresh=2).reset_index(drop=True)
cper['Health outcomes'] = cper['Health outcomes'].fillna(cper['Unnamed: 1']).to_frame()
cper = cper.drop(columns=['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3'])
cper = cper.drop(index=[9,6]).reset_index(drop=True)
cper['causative_agent'] = 'Clostridium perfringens'
cper

,Health outcomes,Total cases,Didn't visit physician; recovered,Visited physician; recovered,Hospitalized,Post-hospitalization recovery,Hospitalized; died,causative_agent
0,Number of cases,9.659580e+05,NaN,NaN,NaN,NaN,NaN,Clostridium perfringens
1,Cases by outcome,NaN,8.698902e+05,9.562984e+04,4.380000e+02,412.000000,2.600000e+01,Clostridium perfringens
2,Physician office visits,NaN,NaN,1.955331e+07,4.477866e+04,60172.231655,NaN,Clostridium perfringens
3,Emergency room visits,NaN,NaN,6.698991e+06,9.204736e+04,0.000000,NaN,Clostridium perfringens
4,Outpatient clinic visits,NaN,NaN,2.310986e+07,7.056458e+04,0.000000,NaN,Clostridium perfringens
5,Hospitalizations,NaN,NaN,NaN,1.303859e+07,NaN,NaN,Clostridium perfringens
6,Premature death,NaN,NaN,NaN,NaN,NaN,2.522680e+08,Clostridium perfringens
7,"Productivity loss, nonfatal cases",NaN,5.300367e+07,1.615173e+07,1.143748e+05,71723.619213,NaN,Clostridium perfringens
8,Total cost of Illness,3.842779e+08,NaN,NaN,NaN,NaN,NaN,Clostridium perfringens

In [5]:
cper.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 8 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Health outcomes                    9 non-null      object
 1   Total cases                        2 non-null      float64
 2   Didn't visit physician; recovered  2 non-null      float64
 3   Visited physician; recovered       5 non-null      float64
 4   Hospitalized                       6 non-null      float64
 5   Post-hospitalization recovery      5 non-null      float64
 6   Hospitalized; died                 2 non-null      float64
 7   causative_agent                    9 non-null      object
dtypes: float64(6), object(2)
memory usage: 704.0+ bytes

# Cryptosporidium spp. (all species)

In [6]:
cpar = pd.read_excel('../data_files/Cryptosporidium_2018.xlsx', sheet_name='Cryptosporidium mean COI 2018', 
                     usecols='A:K', skiprows=5).dropna(thresh=2).reset_index(drop=True)
cpar['Health outcomes'] = cpar['Health outcomes'].fillna(cpar['Unnamed: 1']).to_frame()
cpar = cpar.drop(columns=['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3'])
cpar = cpar.drop(index=[9,6]).reset_index(drop=True)
cpar['causative_agent'] = 'Cryptosporidium spp. (all species)'
cpar

,Health outcomes,Total cases,Didn't visit physician; recovered,Visited physician; recovered,Hospitalized,Post-hospitalization recovery,Hospitalized; died,Diarrhea relapse,causative_agent
0,Number of cases,5.761600e+04,NaN,NaN,NaN,NaN,NaN,NaN,Cryptosporidium spp. (all species)
1,Cases by outcome,NaN,5.072254e+04,6.683456e+03,2.100000e+02,206.000000,4.000000e+00,1.670864e+04,Cryptosporidium spp. (all species)
2,Physician office visits,NaN,NaN,1.366558e+06,2.146922e+04,30086.115828,NaN,NaN,Cryptosporidium spp. (all species)
3,Emergency room visits,NaN,NaN,4.681845e+05,4.413229e+04,0.000000,NaN,NaN,Cryptosporidium spp. (all species)
4,Outpatient clinic visits,NaN,NaN,1.615121e+06,3.383233e+04,0.000000,NaN,NaN,Cryptosporidium spp. (all species)
5,Hospitalizations,NaN,NaN,0.000000e+00,5.894488e+06,0.000000,NaN,NaN,Cryptosporidium spp. (all species)
6,Premature death,NaN,NaN,NaN,NaN,NaN,3.881047e+07,NaN,Cryptosporidium spp. (all species)
7,"Productivity loss, nonfatal cases",NaN,6.181197e+06,1.693238e+06,1.168033e+05,76385.654462,NaN,2.042192e+06,Cryptosporidium spp. (all species)
8,Total cost of illness,5.839415e+07,NaN,NaN,NaN,NaN,NaN,NaN,Cryptosporidium spp. (all species)

In [7]:
cpar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 9 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Health outcomes                    9 non-null      object
 1   Total cases                        2 non-null      float64
 2   Didn't visit physician; recovered  2 non-null      float64
 3   Visited physician; recovered       6 non-null      float64
 4   Hospitalized                       6 non-null      float64
 5   Post-hospitalization recovery      6 non-null      float64
 6   Hospitalized; died                 2 non-null      float64
 7   Diarrhea relapse                   2 non-null      float64
 8   causative_agent                    9 non-null      object
dtypes: float64(7), object(2)
memory usage: 776.0+ bytes

# Cyclospora cayetanensis

In [8]:
ccay = pd.read_excel('../data_files/Cyclospora_2018.xlsx', sheet_name='Mean Cost Estimate 2018', 
                     usecols='A:J', skiprows=5).dropna(thresh=2).reset_index(drop=True)
ccay['Health outcomes'] = ccay['Health outcomes'].fillna(ccay['Unnamed: 1']).to_frame()
ccay = ccay.drop(columns=['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3'])
ccay = ccay.drop(index=[9,6]).reset_index(drop=True)
ccay['causative_agent'] = 'Cyclospora cayetanensis'
ccay

,Health outcomes,Total cases,Didn't visit physician; recovered,Visited physician; recovered,Hospitalized,Post-hospitalization recovery,Hospitalized; died,causative_agent
0,Number of cases,1.140700e+04,NaN,NaN,NaN,NaN,NaN,Cyclospora cayetanensis
1,Cases by outcome,NaN,1.007279e+04,1323.212000,11.000000,11.000000,0.0,Cyclospora cayetanensis
2,Physician office visits,NaN,NaN,270555.501433,1124.578116,1606.540166,NaN,Cyclospora cayetanensis
3,Emergency room visits,NaN,NaN,92692.669899,2311.691631,0.000000,NaN,Cyclospora cayetanensis
4,Outpatient clinic visits,NaN,NaN,319766.795415,1772.169917,0.000000,NaN,Cyclospora cayetanensis
5,Hospitalizations,NaN,NaN,NaN,308758.878274,NaN,NaN,Cyclospora cayetanensis
6,Premature death,NaN,NaN,NaN,NaN,NaN,0.0,Cyclospora cayetanensis
7,"Productivity loss, nonfatal cases",NaN,1.227499e+06,335232.712378,6118.268440,4078.845627,NaN,Cyclospora cayetanensis
8,Total cost of illness,2.571518e+06,NaN,NaN,NaN,NaN,NaN,Cyclospora cayetanensis

In [9]:
ccay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 8 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Health outcomes                    9 non-null      object
 1   Total cases                        2 non-null      float64
 2   Didn't visit physician; recovered  2 non-null      float64
 3   Visited physician; recovered       5 non-null      float64
 4   Hospitalized                       6 non-null      float64
 5   Post-hospitalization recovery      5 non-null      float64
 6   Hospitalized; died                 2 non-null      float64
 7   causative_agent                    9 non-null      object
dtypes: float64(6), object(2)
memory usage: 704.0+ bytes

# Listeria monocytogenes

In [10]:
lmono = pd.read_excel('../data_files/Listeria_2018.xlsx', sheet_name='Listeria mean CoI 2018', 
                     usecols='A:R', skiprows=5).dropna(thresh=2).reset_index(drop=True)
lmono['Unnamed: 1'] = lmono['Unnamed: 1'].fillna(lmono['Unnamed: 2']).to_frame()
lmono['Health outcomes'] = lmono['Health outcomes'].fillna(lmono['Unnamed: 1']).to_frame()
lmono = lmono.drop(columns=['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3'])
lmono = lmono.drop(index=[6,3]).reset_index(drop=True)
lmono['causative_agent'] = 'Listeria monocytogenes'
lmono

,Health outcomes,Total cases,Didn't visit physician; recovered,Visited physician; recovered,Hospitalized maternal,Hospitalized other adults moderate,"Hospitalized other adults severe, recovered","Hospitalized other adults severe, died",Deaths,"Hospitalized newborn, full recovery","Newborn, mild disability","Newborn, moderate to severe disability","Newborn, total disability",Neonatal deaths,Stillbirths,causative_agent
0,Number of cases,1.591000e+03,136.0,0.0,1.964250e+02,3.292600e+01,6.971290e+02,2.469775e+02,2.470000e+02,1.890573e+02,6.723235e+00,2.016970e+01,6.723235e+00,8.022472e+00,5.084658e+01,Listeria monocytogenes
1,Hospitalizations,NaN,NaN,NaN,8.040584e+06,1.347813e+06,8.561015e+07,2.021987e+07,NaN,3.095596e+07,1.100852e+06,3.302557e+06,1.100852e+06,1.313588e+06,NaN,Listeria monocytogenes
2,"Medical and special education costs, chronic c...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.657911e+05,5.743433e+06,1.049083e+07,NaN,NaN,Listeria monocytogenes
3,"Productivity loss, nonfatal cases",NaN,NaN,NaN,3.979339e+05,4.096017e+04,1.734467e+06,0.000000e+00,NaN,NaN,3.325688e+06,3.436541e+07,1.231735e+07,NaN,NaN,Listeria monocytogenes
4,Premature death,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.396328e+09,NaN,NaN,NaN,NaN,7.783897e+07,4.933448e+08,Listeria monocytogenes
5,Total costs,3.189686e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Listeria monocytogenes

# Norovirus

In [11]:
noro = pd.read_excel('../data_files/Norovirus_2018.xlsx', sheet_name='Norovirus mean COI 2018', 
                     usecols='A:J', skiprows=4).dropna(thresh=2).reset_index(drop=True)
noro['Health outcomes'] = noro['Health outcomes'].fillna(noro['Unnamed: 1']).to_frame()
noro = noro.drop(columns=['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3'])
noro = noro.drop(index=[9,6]).reset_index(drop=True)
noro['causative_agent'] = 'Norovirus'
noro

,Health outcomes,Total cases,Didn't visit physician; recovered,Visited physician; recovered,Hospitalized,Post-hospitalization recovery,Hospitalized; died,causative_agent
0,Number of cases,5.461731e+06,NaN,NaN,NaN,NaN,NaN,Norovirus
1,Cases by outcome,NaN,4.906357e+06,5.407114e+05,1.466300e+04,1.451400e+04,1.490000e+02,Norovirus
2,Physician office visits,NaN,NaN,1.105586e+08,1.499063e+06,2.119757e+06,NaN,Norovirus
3,Emergency room visits,NaN,NaN,3.787751e+07,3.081485e+06,0.000000e+00,NaN,Norovirus
4,Outpatient clinic visits,NaN,NaN,1.306681e+08,2.362302e+06,0.000000e+00,NaN,Norovirus
5,Hospitalizations,NaN,NaN,NaN,4.364952e+08,NaN,NaN,Norovirus
6,Premature death,NaN,NaN,NaN,NaN,NaN,1.445690e+09,Norovirus
7,"Productivity loss, nonfatal cases",NaN,2.989514e+08,9.132532e+07,3.828945e+06,2.526691e+06,NaN,Norovirus
8,Total cost of illness,2.566984e+09,NaN,NaN,NaN,NaN,NaN,Norovirus

In [12]:
noro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 8 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Health outcomes                    9 non-null      object
 1   Total cases                        2 non-null      float64
 2   Didn't visit physician; recovered  2 non-null      float64
 3   Visited physician; recovered       5 non-null      float64
 4   Hospitalized                       6 non-null      float64
 5   Post-hospitalization recovery      5 non-null      float64
 6   Hospitalized; died                 2 non-null      float64
 7   causative_agent                    9 non-null      object
dtypes: float64(6), object(2)
memory usage: 704.0+ bytes

# Salmonella (non-typhoidal species)

In [13]:
salm = pd.read_excel('../data_files/Salmonella_2018.xlsx', sheet_name='Salmonella Mean COI 2018', 
                     usecols='A:J', skiprows=4).dropna(thresh=2).reset_index(drop=True)
salm['Health outcomes'] = salm['Health outcomes'].fillna(salm['Unnamed: 1']).to_frame()
salm = salm.drop(columns=['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3'])
salm = salm.drop(index=[9,6]).reset_index(drop=True)
salm['causative_agent'] = 'Salmonella'
salm

,Health outcomes,Total cases,Didn't visit physician; recovered,Visited physician; recovered,Hospitalized,Post-hospitalization recovery,Hospitalized; died,causative_agent
0,Number of cases,1.027561e+06,NaN,NaN,NaN,NaN,NaN,Salmonella
1,Cases by outcome,NaN,9.342406e+05,7.398439e+04,1.933600e+04,1.895800e+04,3.780000e+02,Salmonella
2,Physician office visits,NaN,NaN,1.512750e+07,1.976804e+06,2.768799e+06,NaN,Salmonella
3,Emergency room visits,NaN,NaN,5.182700e+06,4.063534e+06,0.000000e+00,NaN,Salmonella
4,Outpatient clinic visits,NaN,NaN,1.787903e+07,3.115153e+06,0.000000e+00,NaN,Salmonella
5,Hospitalizations,NaN,NaN,0.000000e+00,3.367556e+08,0.000000e+00,NaN,Salmonella
6,Premature death,NaN,NaN,NaN,NaN,NaN,3.667589e+09,Salmonella
7,"Productivity loss, nonfatal cases",NaN,5.692464e+07,1.499502e+07,1.060333e+07,5.198021e+06,NaN,Salmonella
8,Total cost of illness,4.142179e+09,NaN,NaN,NaN,NaN,NaN,Salmonella

In [14]:
salm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 8 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Health outcomes                    9 non-null      object
 1   Total cases                        2 non-null      float64
 2   Didn't visit physician; recovered  2 non-null      float64
 3   Visited physician; recovered       6 non-null      float64
 4   Hospitalized                       6 non-null      float64
 5   Post-hospitalization recovery      6 non-null      float64
 6   Hospitalized; died                 2 non-null      float64
 7   causative_agent                    9 non-null      object
dtypes: float64(6), object(2)
memory usage: 704.0+ bytes

# Shigella (all species)

In [15]:
shig = pd.read_excel('../data_files/Shigella_2018.xlsx', sheet_name='Shigella mean COI 2018', 
                     usecols='A:J', skiprows=4).dropna(thresh=2).reset_index(drop=True)
shig['Health outcomes'] = shig['Health outcomes'].fillna(shig['Unnamed: 1']).to_frame()
shig = shig.drop(columns=['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3'])
shig = shig.drop(index=[9,6]).reset_index(drop=True)
shig['causative_agent'] = 'Shigella (all species)'
shig

,Health outcomes,Total cases,Didn't visit physician; recovered,Visited physician; recovered,Hospitalized,Post-hospitalization recovery,Hospitalized; died,causative_agent
0,Number of cases,1.312540e+05,NaN,NaN,NaN,NaN,NaN,Shigella (all species)
1,Cases by outcome,NaN,1.203477e+05,9.450288e+03,1.456000e+03,1446.000000,1.000000e+01,Shigella (all species)
2,Physician office visits,NaN,NaN,1.932289e+06,1.488532e+05,211187.007217,NaN,Shigella (all species)
3,Emergency room visits,NaN,NaN,6.620046e+05,3.059839e+05,0.000000,NaN,Shigella (all species)
4,Outpatient clinic visits,NaN,NaN,2.283752e+06,2.345709e+05,0.000000,NaN,Shigella (all species)
5,Hospitalizations,NaN,NaN,0.000000e+00,4.641436e+07,0.000000,NaN,Shigella (all species)
6,Premature death,NaN,NaN,NaN,NaN,NaN,9.702616e+07,Shigella (all species)
7,"Productivity loss, nonfatal cases",NaN,7.332961e+06,1.995174e+06,3.941457e+05,260959.076875,NaN,Shigella (all species)
8,Total cost of illness,1.592024e+08,NaN,NaN,NaN,NaN,NaN,Shigella (all species)

In [16]:
shig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 8 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Health outcomes                    9 non-null      object
 1   Total cases                        2 non-null      float64
 2   Didn't visit physician; recovered  2 non-null      float64
 3   Visited physician; recovered       6 non-null      float64
 4   Hospitalized                       6 non-null      float64
 5   Post-hospitalization recovery      6 non-null      float64
 6   Hospitalized; died                 2 non-null      float64
 7   causative_agent                    9 non-null      object
dtypes: float64(6), object(2)
memory usage: 704.0+ bytes

# Shiga toxin-producing Escherichia coli O157 (STEC O157)#

In [17]:
stec = pd.read_excel('../data_files/STEC_O157_2018.xlsx', sheet_name='STEC O157 Mean COI 2018', 
                     usecols='A:M', skiprows=4).dropna(thresh=2).reset_index(drop=True)
stec['Unnamed: 1'] = stec['Unnamed: 1'].fillna(stec['Unnamed: 2']).to_frame()
stec['Health outcomes'] = stec['Health outcomes'].fillna(stec['Unnamed: 1']).to_frame()
stec = stec.drop(columns=['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3'])
stec = stec.drop(index=[10,7]).reset_index(drop=True)
stec['causative_agent'] = 'STEC O157'
stec

,Health outcomes,Total cases,Didn't visit physician; recovered,Visited physician; recovered,Hospitalized,"Hospitalized, non-HUS; recovered1","Hospitalized, HUS only; recovered",Hospitalized HUS & ESRD; survived with later premature death2,"Hospitalized, non-HUS; died","Hospitalized, HUS; died",causative_agent
0,Number of cases,6.315300e+04,NaN,NaN,2138.0,NaN,NaN,NaN,NaN,NaN,STEC O157
1,Cases by outcome,NaN,4.927800e+04,1.173700e+04,NaN,1.806000e+03,3.020000e+02,1.000000e+01,8.000000e+00,1.200000e+01,STEC O157
2,Medications,NaN,1.622038e+05,2.535973e+05,NaN,1.134363e+05,1.108784e+04,5.134796e+02,4.186104e+02,3.877779e+02,STEC O157
3,Office visits,NaN,NaN,2.177007e+06,NaN,2.690399e+05,8.512593e+04,2.818991e+03,1.191875e+03,3.382315e+03,STEC O157
4,Emergency room visits,NaN,NaN,3.289079e+06,NaN,1.113417e+06,2.687000e+05,8.896883e+03,4.932049e+03,1.067686e+04,STEC O157
5,Hospitalization,NaN,NaN,NaN,NaN,1.902947e+07,3.182110e+06,6.821962e+05,8.429432e+04,8.186357e+05,STEC O157
6,Chronic medical costs,NaN,NaN,NaN,NaN,NaN,NaN,1.016743e+07,NaN,NaN,STEC O157
7,Productivity loss,NaN,1.542523e+06,2.670951e+06,NaN,1.197111e+06,2.426947e+04,6.347762e+05,8.276315e+03,4.776643e+03,STEC O157
8,Premature death,NaN,NaN,NaN,NaN,NaN,NaN,6.916184e+07,7.762093e+07,1.164314e+08,STEC O157
9,Total costs,3.110369e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STEC O157

In [18]:
stec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 11 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Health outcomes                                                10 non-null     object
 1   Total cases                                                    2 non-null      float64
 2   Didn't visit physician; recovered                              3 non-null      float64
 3   Visited physician; recovered                                   5 non-null      float64
 4   Hospitalized                                                   1 non-null      float64
 5   Hospitalized, non-HUS; recovered1                              6 non-null      float64
 6   Hospitalized, HUS only; recovered                              6 non-null      float64
 7   Hospitalized HUS & ESRD; survived with later premature death2  8 non-null      float64
 8   Hospitalized, non-HUS; died                                    7 non-null      float64
 9   Hospitalized, HUS; died                                        7 non-null      float64
 10  causative_agent                                                10 non-null     object
dtypes: float64(9), object(2)
memory usage: 1008.0+ bytes

# non-O157 Shiga toxin-producing Escherichia coli (STEC non-O157)

In [19]:
nono157 = pd.read_excel('../data_files/STEC_non-O157_2018.xlsx', sheet_name='STEC non-O157 Mean COI 2018', 
                     usecols='A:M', skiprows=4).dropna(thresh=2).reset_index(drop=True)
nono157['Unnamed: 1'] = nono157['Unnamed: 1'].fillna(nono157['Unnamed: 2']).to_frame()
nono157['Health outcomes'] = nono157['Health outcomes'].fillna(nono157['Unnamed: 1']).to_frame()
nono157 = nono157.drop(columns=['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3'])
nono157 = nono157.drop(index=[10,7]).reset_index(drop=True)
nono157['causative_agent'] = 'STEC non-O157'
nono157

,Health outcomes,Total cases,Didn't visit physician; recovered,Visited physician; recovered,Hospitalized,"Hospitalized, non-HUS; recovered1","Hospitalized, HUS only; recovered",Hospitalized HUS & ESRD; recovered with later premature death2,"Hospitalized, non-HUS; died","Hospitalized, HUS; died",causative_agent
0,Number of cases,1.127520e+05,NaN,NaN,271.0,NaN,NaN,NaN,NaN,NaN,STEC non-O157
1,Cases by outcome,NaN,9.152600e+04,2.095500e+04,NaN,2.310000e+02,3.900000e+01,1.000000e+00,0.0,0.0,STEC non-O157
2,Medications,NaN,3.012676e+05,4.527674e+05,NaN,1.450929e+04,1.431873e+03,5.134796e+01,NaN,NaN,STEC non-O157
3,Office visits,NaN,NaN,3.886784e+06,NaN,3.441208e+04,1.099308e+04,2.822549e+02,NaN,NaN,STEC non-O157
4,Emergency room visits,NaN,NaN,5.872254e+06,NaN,1.424137e+05,3.469967e+04,8.892385e+02,NaN,NaN,STEC non-O157
5,Hospitalization,NaN,NaN,NaN,NaN,2.434002e+06,2.660566e+06,6.821962e+04,NaN,NaN,STEC non-O157
6,Chronic medical costs,NaN,NaN,NaN,NaN,0.000000e+00,0.000000e+00,1.016743e+06,NaN,NaN,STEC non-O157
7,"Productivity loss, nonfatal cases",NaN,2.864990e+06,4.768661e+06,NaN,1.531189e+05,3.134136e+03,6.347762e+04,NaN,NaN,STEC non-O157
8,Premature death,NaN,NaN,NaN,NaN,NaN,NaN,6.916184e+06,NaN,NaN,STEC non-O157
9,Total cost of illness,3.170185e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STEC non-O157

In [20]:
nono157.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 11 columns):
 #   Column                                                          Non-Null Count  Dtype
---  ------                                                          --------------  -----
 0   Health outcomes                                                 10 non-null     object
 1   Total cases                                                     2 non-null      float64
 2   Didn't visit physician; recovered                               3 non-null      float64
 3   Visited physician; recovered                                    5 non-null      float64
 4   Hospitalized                                                    1 non-null      float64
 5   Hospitalized, non-HUS; recovered1                               7 non-null      float64
 6   Hospitalized, HUS only; recovered                               7 non-null      float64
 7   Hospitalized HUS & ESRD; recovered with later premature death2  8 non-null      float64
 8   Hospitalized, non-HUS; died                                     1 non-null      float64
 9   Hospitalized, HUS; died                                         1 non-null      float64
 10  causative_agent                                                 10 non-null     object
dtypes: float64(9), object(2)
memory usage: 1008.0+ bytes

# Toxoplasma gondii

In [21]:
tgon = pd.read_excel('../data_files/Toxoplasma_2018.xlsx', sheet_name='Toxoplasma mean COI 2018', 
                     usecols='A:L', skiprows=5).dropna(thresh=2).reset_index(drop=True)
tgon['Health outcomes'] = tgon['Health outcomes'].fillna(tgon['Unnamed: 1']).to_frame()
tgon = tgon.drop(columns=['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3'])
tgon = tgon.drop(index=[9,6]).reset_index(drop=True)
tgon['causative_agent'] = 'Toxoplasma gondii'
tgon

,Health outcomes,Total cases,Didn't visit physician; recovered,Visited physician; recovered,Hospitalized,Post-hospitalization recovery,Hospitalized; died,Stillbirth,Neonatal death,causative_agent
0,Number of cases,8.668600e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Toxoplasma gondii
1,Cases by outcome,NaN,6.986190e+04,1.239610e+04,4.428000e+03,4.101000e+03,3.270000e+02,7.700000e+00,7.700000e+00,Toxoplasma gondii
2,Physician office visits,NaN,NaN,2.534615e+06,4.526938e+05,5.989474e+05,NaN,NaN,NaN,Toxoplasma gondii
3,Emergency room visits,NaN,NaN,8.683623e+05,9.305610e+05,0.000000e+00,NaN,NaN,NaN,Toxoplasma gondii
4,Outpatient clinic visits,NaN,NaN,2.995635e+06,7.133789e+05,0.000000e+00,NaN,NaN,NaN,Toxoplasma gondii
5,Hospitalizations,NaN,NaN,0.000000e+00,4.005969e+08,0.000000e+00,NaN,NaN,NaN,Toxoplasma gondii
6,Premature death,NaN,NaN,NaN,NaN,NaN,3.172756e+09,7.471015e+07,7.471015e+07,Toxoplasma gondii
7,"Productivity loss, nonfatal cases",NaN,4.256787e+06,2.093682e+06,3.580621e+06,2.210799e+06,NaN,NaN,NaN,Toxoplasma gondii
8,Total cost of illness,3.744009e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Toxoplasma gondii

In [22]:
tgon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 10 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Health outcomes                    9 non-null      object
 1   Total cases                        2 non-null      float64
 2   Didn't visit physician; recovered  2 non-null      float64
 3   Visited physician; recovered       6 non-null      float64
 4   Hospitalized                       6 non-null      float64
 5   Post-hospitalization recovery      6 non-null      float64
 6   Hospitalized; died                 2 non-null      float64
 7   Stillbirth                         2 non-null      float64
 8   Neonatal death                     2 non-null      float64
 9   causative_agent                    9 non-null      object
dtypes: float64(8), object(2)
memory usage: 848.0+ bytes

# Vibrio parahaemolyticus

In [23]:
vpar = pd.read_excel('../data_files/Vibrio_para_2018.xlsx', sheet_name='mean COI 2018', 
                     usecols='A:J', skiprows=4).dropna(thresh=2).reset_index(drop=True)
vpar['Health outcomes'] = vpar['Health outcomes'].fillna(vpar['Unnamed: 1']).to_frame()
vpar = vpar.drop(columns=['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3'])
vpar = vpar.drop(index=[9,6]).reset_index(drop=True)
vpar['causative_agent'] = 'Vibrio parahaemolyticus'
vpar

,Health outcomes,Total cases,Didn't visit physician; recovered,Visited physician; recovered,Hospitalized without sepsis,Post-hospitalization recovery (non-sepsis),Death,causative_agent
0,Number of cases,3.466400e+04,NaN,NaN,NaN,NaN,NaN,Vibrio parahaemolyticus
1,Cases by outcome,NaN,3.023100e+04,4.333000e+03,1.000000e+02,96.000000,4.000000e+00,Vibrio parahaemolyticus
2,Physician office visits,NaN,NaN,8.859631e+05,1.022344e+04,14020.714172,NaN,Vibrio parahaemolyticus
3,Emergency room visits,NaN,NaN,3.035321e+05,2.101538e+04,0.000000,NaN,Vibrio parahaemolyticus
4,Outpatient clinic visits,NaN,NaN,1.047111e+06,1.611064e+04,0.000000,NaN,Vibrio parahaemolyticus
5,Hospitalizations,NaN,NaN,NaN,1.741599e+06,NaN,NaN,Vibrio parahaemolyticus
6,Premature death,NaN,NaN,NaN,NaN,NaN,3.881047e+07,Vibrio parahaemolyticus
7,"Productivity loss, nonfatal cases",NaN,1.842019e+06,9.147963e+05,7.833890e+04,50136.898867,NaN,Vibrio parahaemolyticus
8,Total cost of illness,4.573533e+07,NaN,NaN,NaN,NaN,NaN,Vibrio parahaemolyticus

In [24]:
vpar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 8 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Health outcomes                             9 non-null      object
 1   Total cases                                 2 non-null      float64
 2   Didn't visit physician; recovered           2 non-null      float64
 3   Visited physician; recovered                5 non-null      float64
 4   Hospitalized without sepsis                 6 non-null      float64
 5   Post-hospitalization recovery (non-sepsis)  5 non-null      float64
 6   Death                                       2 non-null      float64
 7   causative_agent                             9 non-null      object
dtypes: float64(6), object(2)
memory usage: 704.0+ bytes

# Vibrio vulnificus

In [25]:
vvul = pd.read_excel('../data_files/Vibrio_vulnificus_2018.xlsx', sheet_name='Vibrio vulnificus mean COI 2018', 
                     usecols='A:M', skiprows=4).dropna(thresh=2).reset_index(drop=True)
vvul['Health outcomes'] = vvul['Health outcomes'].fillna(vvul['Unnamed: 1']).to_frame()
vvul = vvul.drop(columns=['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3'])
vvul = vvul.drop(index=[9,6]).reset_index(drop=True)
vvul['causative_agent'] = 'Vibrio vulnificus'
vvul

,Health outcomes,Total cases,Didn't visit physician; recovered,Visited physician; recovered,Hospitalized without sepsis1,Post-hospitalization recovery (non-sepsis),Hospitalized with sepsis in ICU,Hospitalized - post-ICU (sepsis),Post-hospitalization recovery following sepsis,Death,causative_agent
0,Number of cases,9.600000e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vibrio vulnificus
1,Cases by outcome,NaN,0.0,3.000000,18.507000,18.507000,7.449300e+01,38.493000,38.493000,3.600000e+01,Vibrio vulnificus
2,Physician office visits,NaN,NaN,613.406245,1892.051563,2702.930804,7.615745e+03,0.000000,5621.868236,NaN,Vibrio vulnificus
3,Emergency room visits,NaN,NaN,210.153785,3889.316093,0.000000,1.363474e+04,0.000000,NaN,NaN,Vibrio vulnificus
4,Outpatient clinic visits,NaN,NaN,724.978602,2981.595332,0.000000,1.045274e+04,0.000000,NaN,NaN,Vibrio vulnificus
5,Hospitalizations,NaN,NaN,0.000000,757577.157327,0.000000,9.147778e+06,0.000000,NaN,NaN,Vibrio vulnificus
6,Premature death,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.492942e+08,Vibrio vulnificus
7,"Productivity loss, nonfatal cases",NaN,NaN,633.369242,14498.181052,9665.454035,4.538878e+04,23453.884612,138028.573039,NaN,Vibrio vulnificus
8,Total cost of illness,3.594816e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vibrio vulnificus

In [26]:
vvul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 11 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Health outcomes                                 9 non-null      object
 1   Total cases                                     2 non-null      float64
 2   Didn't visit physician; recovered               1 non-null      float64
 3   Visited physician; recovered                    6 non-null      float64
 4   Hospitalized  without sepsis1                   6 non-null      float64
 5   Post-hospitalization recovery (non-sepsis)      6 non-null      float64
 6   Hospitalized with sepsis in ICU                 6 non-null      float64
 7   Hospitalized - post-ICU (sepsis)                6 non-null      float64
 8   Post-hospitalization recovery following sepsis  3 non-null      float64
 9   Death                                           2 non-null      float64
 10  causative_agent                                 9 non-null      object
dtypes: float64(9), object(2)
memory usage: 920.0+ bytes

# Vibrio non-cholera species other than V. parahaemolyticus and V. vulnificus

In [27]:
vother = pd.read_excel('../data_files/Vibrio_other_2018.xlsx', sheet_name='Vibrio other mean COI 2018', 
                     usecols='A:J', skiprows=4).dropna(thresh=2).reset_index(drop=True)
vother['Health outcomes'] = vother['Health outcomes'].fillna(vother['Unnamed: 1']).to_frame()
vother = vother.drop(columns=['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3'])
vother = vother.drop(index=[9,6]).reset_index(drop=True)
vother['causative_agent'] = 'Vibrio non-cholera other'
vother

,Health outcomes,Total cases,Didn't visit physician; recovered,Visited physician; recovered,Hospitalized without sepsis,Post-hospitalization recovery (non-sepsis),Death,causative_agent
0,Number of cases,1.756400e+04,NaN,NaN,NaN,NaN,NaN,Vibrio non-cholera other
1,Cases by outcome,NaN,15285.500000,2195.500000,8.300000e+01,75.000000,8.000000e+00,Vibrio non-cholera other
2,Physician office visits,NaN,NaN,448911.136987,8.485453e+03,10953.682947,NaN,Vibrio non-cholera other
3,Emergency room visits,NaN,NaN,153797.544735,1.744276e+04,0.000000,NaN,Vibrio non-cholera other
4,Outpatient clinic visits,NaN,NaN,530563.507082,1.337183e+04,0.000000,NaN,Vibrio non-cholera other
5,Hospitalizations,NaN,NaN,0.000000,1.445527e+06,0.000000,NaN,Vibrio non-cholera other
6,Premature death,NaN,NaN,NaN,NaN,NaN,7.762093e+07,Vibrio non-cholera other
7,"Productivity loss, nonfatal cases",NaN,931367.714126,463520.723327,6.502129e+04,39169.452240,NaN,Vibrio non-cholera other
8,Total cost of illness,8.174906e+07,NaN,NaN,NaN,NaN,NaN,Vibrio non-cholera other

In [28]:
vother.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 8 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Health outcomes                             9 non-null      object
 1   Total cases                                 2 non-null      float64
 2   Didn't visit physician; recovered           2 non-null      float64
 3   Visited physician; recovered                6 non-null      float64
 4   Hospitalized without sepsis                 6 non-null      float64
 5   Post-hospitalization recovery (non-sepsis)  6 non-null      float64
 6   Death                                       2 non-null      float64
 7   causative_agent                             9 non-null      object
dtypes: float64(6), object(2)
memory usage: 704.0+ bytes

# Yersinia enterocolitica

In [29]:
yent = pd.read_excel('../data_files/Yersinia_2018.xlsx', sheet_name='Yersinia mean COI 2018', 
                     usecols='A:N', skiprows=4).dropna(thresh=2).reset_index(drop=True)
yent['Health outcomes'] = yent['Health outcomes'].fillna(yent['Unnamed: 1']).to_frame()
yent = yent.drop(columns=['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3'])
yent = yent.drop(index=[9,6]).reset_index(drop=True)
yent['causative_agent'] = 'Yersinia enterocolitica'
yent

,Health outcomes,Total cases,Didn't visit physician; recovered,"Visit doctor, full recovery","Hospitalized, but non-septic",Hospitalized with misdiagnosed appendectomy,Hospitalized with sepsis,Recovery following hospitalization with non-septic,Recovery following hospitalization for appendectomy,Recovery following hospitalization with sepsis,"Hospitalized with sepsis, die",causative_agent
0,Number of cases,9.765600e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yersinia enterocolitica
1,Cases by outcome,NaN,8.501366e+04,1.210934e+04,1.225900e+02,5.330000e+01,3.571100e+02,122.59000,53.300000,328.110000,2.900000e+01,Yersinia enterocolitica
2,Physician office visits,NaN,NaN,2.475982e+06,1.253291e+04,5.449092e+03,3.650892e+04,17904.15990,7784.417348,47920.172156,NaN,Yersinia enterocolitica
3,Emergency room visits,NaN,NaN,8.482748e+05,2.576275e+04,1.120120e+04,6.536321e+04,0.00000,0.000000,0.000000,NaN,Yersinia enterocolitica
4,Outpatient clinic visits,NaN,NaN,2.926338e+06,1.975003e+04,8.586969e+03,5.010912e+04,0.00000,0.000000,0.000000,NaN,Yersinia enterocolitica
5,Hospitalizations,NaN,NaN,NaN,3.864130e+06,1.680056e+06,1.125638e+07,0.00000,0.000000,0.000000,NaN,Yersinia enterocolitica
6,Premature death,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.813759e+08,Yersinia enterocolitica
7,"Productivity loss, nonfatal cases",NaN,5.180052e+06,2.556590e+06,2.134126e+04,9.278808e+03,4.659437e+05,14227.50563,19485.496841,295090.414607,NaN,Yersinia enterocolitica
8,Total cost of illness,3.132979e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yersinia enterocolitica

In [30]:
yent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 12 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Health outcomes                                      9 non-null      object
 1   Total cases                                          2 non-null      float64
 2   Didn't visit physician; recovered                    2 non-null      float64
 3   Visit doctor, full recovery                          5 non-null      float64
 4   Hospitalized, but non-septic                         6 non-null      float64
 5   Hospitalized with misdiagnosed appendectomy          6 non-null      float64
 6   Hospitalized with sepsis                             6 non-null      float64
 7   Recovery following hospitalization with non-septic   6 non-null      float64
 8   Recovery following hospitalization for appendectomy  6 non-null      float64
 9   Recovery following hospitalization with sepsis       6 non-null      float64
 10  Hospitalized with sepsis, die                        2 non-null      float64
 11  causative_agent                                      9 non-null      object
dtypes: float64(10), object(2)
memory usage: 992.0+ bytes